.the-whole-blog-container {
    width: 50%;
    margin: 0 auto;
}

.each-blog-post {
    margin: 5vw 0;
}

.each-blog-post h1{
    font-family: "Maitree", sans-serif;
    font-size: 3vw;
    line-height: 3vw;
    margin-top: -3vw;
}

.blog-images {
    width: 30vw;
    height: 20vw;
}

