
#flex {
  display: flex;
}

#flex h1 {
  padding-top: 40vh;
  text-align: center;
  color: white;
  transition: font-size 1.5s;
  font-family: "Great Vibes", cursive;
  margin: 0;
  font-weight: 200;
}

/* Carousel */

.maxWidth {
  width: 100%;
}

.background-header {
  -webkit-text-fill-color: transparent;
}

.background-overlay-image {
  background-color: rgba(0, 0, 0, 0.493);
  height: 100vh;
}

#background-0 {
  background-image: url('https://res.cloudinary.com/delw8osvu/image/upload/v1539786515/DSC01163.jpg');
  background-size: cover;
  margin: 0 auto;
  color: rgb(243, 243, 243);
  transition: width 2s ease-in-out, color 2s ease-in-out;
  height: 100vh;
  /* filter: grayscale(100%); */
}

#background-1 {
  background-image: url("https://res.cloudinary.com/delw8osvu/image/upload/v1539786519/DSC01296.jpg");
  background-size: cover;
  width: 0%;
  margin: 0 auto;
  transition: width 2s ease-in-out;
  height: 100vh;
  /* color: rgb(243, 243, 243);
    transition: color 1s; */
  /* filter: grayscale(100%); */
}

#background-2 {
  background-image: url("https://res.cloudinary.com/delw8osvu/image/upload/v1539786517/DSC01233-2.jpg");
  background-size: cover;
  width: 0%;
  margin: 0 auto;
  transition: width 2s ease-in-out;
  height: 100vh;
  /* filter: grayscale(100%); */
}

#background-3 {
  background-image: url("https://res.cloudinary.com/doecwsnly/image/upload/v1538051028/20180927_141736.jpg");
  background-size: cover;
  width: 0%;
  margin: 0 auto;
  transition: width 2s ease-in-out;
  height: 100vh;
  /* filter: grayscale(100%); */
}
