
#flex {
  display: flex;
}

#flex h1 {
  padding-top: 40vh;
  text-align: center;
  color: white;
  transition: font-size 1.5s;
  font-family: "Great Vibes", cursive;
  margin: 0;
  font-weight: 200;
}

/* Carousel */

.maxWidth {
  width: 100%;
}

.background-header {
  -webkit-text-fill-color: transparent;
}

.background-overlay-image {
  background-color: rgba(0, 0, 0, 0.242);
  height: 100vh;
}

#background-0 {
  background-image: url('https://res.cloudinary.com/delw8osvu/image/upload/v1539786515/DSC01163.jpg');
  background-size: cover;
  margin: 0 auto;
  color: rgb(243, 243, 243);
  transition: width 2s ease-in-out, color 2s ease-in-out;
  height: 100vh;
  /* filter: grayscale(100%); */
}

#background-1 {
  background-image: url("https://res.cloudinary.com/delw8osvu/image/upload/v1539786519/DSC01296.jpg");
  background-size: cover;
  width: 0%;
  margin: 0 auto;
  transition: width 2s ease-in-out;
  height: 100vh;
  /* color: rgb(243, 243, 243);
    transition: color 1s; */
  /* filter: grayscale(100%); */
}

#background-2 {
  background-image: url("https://res.cloudinary.com/delw8osvu/image/upload/v1539786517/DSC01233-2.jpg");
  background-size: cover;
  width: 0%;
  margin: 0 auto;
  transition: width 2s ease-in-out;
  height: 100vh;
  /* filter: grayscale(100%); */
}

#background-3 {
  background-image: url("https://res.cloudinary.com/doecwsnly/image/upload/v1538051028/20180927_141736.jpg");
  background-size: cover;
  width: 0%;
  margin: 0 auto;
  transition: width 2s ease-in-out;
  height: 100vh;
  /* filter: grayscale(100%); */
}

.carousel-more-button{
  position: absolute;
  font-size: 1.6vw;
  top: 90vh;
  left: 45vw;
  color: rgb(234, 234, 255);
  font-weight: bold;
}

.carousel-more-button:hover{
  cursor: pointer;
}

.carousel-arrow{
  -webkit-transform: rotate(90deg);
  margin: 0.5vw 0.5vw 0 0;
}

.carousel-created-by{
  position: absolute;
  font-size: 1.0vw;
  bottom: 1vh;
  right: 1vw;
  color: rgba(0, 0, 0, 0.651);
  font-weight: bold;
}

//----------- SALES ----------//

.sales-container{
  width: 17%;
  position: absolute;
  top: 8vw;
  background-color: rgb(251, 227, 253);
  right:5vw;
  padding: 0.7vw;
  border-radius: 3%;
}

.sales-border-container {
  box-shadow: 0px 0px 3px 1px rgb(241, 80, 241);
  padding: 0.6vw;
}

.sales-header{
  color: rgb(0, 0, 0);
  font-family: "Maitree", cursive;
  line-height: 0;
  font-size: 1.4vw;
}

.sales-text{
  margin-top: 0.5vw;
  font-size: 1.1vw;
  color: rgb(22, 22, 22);
  font-family: "Maitree";
  line-height: 1.5vw;
}