.create-sale-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    margin: 7vw auto 0 auto;
}

.create-sale-container input{
    font-size: 1.5vw;
}

.create-sale-container textarea{
    font-size: 1.5vw;
}

.create-sale-container button{
    margin-top: 1vw;
    font-size: 1.5vw;
    color: blue;
    border: 1px solid darkblue;
    background-color: lightblue;
}