.frontpage-container {
    background-color: rgb(221, 221, 221);
    padding-bottom: 5vw;
}

.image-information-flexbox {
  display: flex;
  justify-content: space-around;
  margin: 5vw auto 0 auto;
  background-color: white;
  padding: 2vw 2vw;
  width: 70vw;
}

.each-image-information-text {
    width: 14vw;
    background-color: rgba(255, 255, 255, 0.678);
    text-align: center;
    padding: 0.4vw;
    font-size: 1.5vw;
    font-family: "Maitree", sans-serif;
    margin: 5.5vw auto 0 auto;
    border: 2px dotted rgba(255, 0, 0, 0.493);
}

.each-image-information-text:hover {
    background-color: white;
    border: 2px solid rgba(255, 0, 0, 0.493);
    cursor: pointer;
}

#image-information-one {
  background-image: url("https://res.cloudinary.com/doecwsnly/image/upload/v1537789233/4w.jpg");
  background-size: 100% 100%;
  width: 20vw;
  height: 15vw;
  box-shadow: inset 0 0 10px 10px #ffffff;
}

#image-information-two {
  background-image: url("https://res.cloudinary.com/doecwsnly/image/upload/v1537711838/oils-background-image.png");
  background-size: 100% 100%;
  width: 20vw;
  height: 15vw;
  box-shadow: inset 0 0 10px 10px #ffffff;
}

#image-information-three {
  background-image: url("https://res.cloudinary.com/doecwsnly/image/upload/v1537872157/sorcxo85jw63tmf6s9jk.jpg");
  background-size: 100% 100%;
  width: 20vw;
  height: 15vw;
  box-shadow: inset 0 0 10px 10px #ffffff;
}