$primary-color: #63adf2;
$secondary-color: #ff686b;
$text-color: #333;
$grey: rgb(200, 200, 200);

body {
  margin: 0;
  padding: 0;
}

#not-found {
  text-align: center;
  padding-top: 20vh;
  font-size: 15vh;
  width: 70%;
  margin: 0 auto;
}

@import "./carousel.scss";
@import "./shop.scss";
@import "./navigation.scss";
@import "./auth.scss";
@import "./checkout.scss";
@import "./aboutMe.scss";
@import "./settings.scss";
@import "./blog.scss";
@import "./event.scss"