#the-whole-shop-container {
  background-color: rgb(241, 241, 241);
  margin: 0;
  min-height: 100vh;
}

.shop-flexbox-container {
  // background-image: url("../assets/uu.jpg");
  background-size: 100% 100%;
  height: 100%;
  width: 60%;
  padding-top: 1.5vw;
  margin: 1.5vw 0 0 24vw;
}

.search-and-shop-container table {
  color: black;
  font-size: 2vw;
  width: 50%;
}

.search-input {
  width: 48vw;
  font-size: 1.5vw;
  border: 3px solid rgb(221, 195, 195);
  padding: 5px;
}

.quick-buy-button {
  position: fixed;
  font-size: 1.3vw;
  padding: 2px 4px 2px 4px;
  border-radius: 5%;
  background-color: rgba(166, 252, 149, 0.664);
  border: 0px solid black;
  top: 3.4vw;
  box-shadow: 2px 2px 2px rgb(194, 164, 164);
  left: 15%;
  outline: 0;
  transition: left 0.5s;
}

.quick-buy-button:active {
  outline: 0;
}

.shop-navigation {
  // background-color: rgba(40, 99, 30, 0.705);
  background-image: linear-gradient(
    rgba(221, 195, 195, 0.76),
    rgba(214, 211, 163, 0.726)
  );
  height: 95%;
  margin-top: -0.5vw;
  width: 15%;
  box-shadow: 0px 0px 5px 5px rgba(183, 206, 179, 0.651);
  position: fixed;
  left: 0%;
  transition: width 0.5s
}

h3 {
  font-size: 2vw;
  color: rgb(0, 0, 0);
  // padding: 0vw 0 0 0;
  border-bottom: 4px solid black;
  text-align: center;
  font-family: "Maitree", sans-serif;
  margin: 0;
  padding-top: 3vw;
  // text-shadow: 3px 3px 3px rgb(255, 255, 255);
  height: 3vw;
  transition: color 0.5s, font-size 0.5s;
}

.navigation-each-element {
  margin: 0.5vw 0;
  color: black;
  padding: 0 1vw 0.5vw 1vw;
  border-bottom: 1px solid black;
  height: 1.5vw;
}

.mapped-navigation-contents {
  transition: font-size 0.5s;
}

.shop-navigation button {
  font-size: 1.3vw;
  padding: 2px 4px 2px 4px;
  border-radius: 5%;
  background-color: rgba(166, 252, 149, 0.664);
  //background-image: linear-gradient(rgba(149, 252, 243, 0.664), rgba(235, 166, 223, 0.781));
  border: 0px solid black;
  box-shadow: 0px 0px 0px 1px rgb(194, 164, 164);
  float: right;
}

.product-icons {
  background-size: 100% 100%;
  height: 13vw;
  width: 100%;
  border-radius: 3%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.product-card {
  background-color: white;
  width: 35%;
  margin: 3vw 5vw 2.5vw 0vw;
  font-size: 1.2vw;
  font-family: "Maitree", sans-serif;
  line-height: 2vw;
  box-shadow: 1px 1px 30px 3px black;
  padding: 1.5vw;
  border-radius: 3%;
}

.product-card:nth-child(even) {
  margin-right: 0vw;
}

.product-header-text {
  font-weight: bold;
  font-size: 2vw;
  margin: 1vw 0 0.5vw 0;
  color: red;
}

.shopping-button {
  font-size: 1.3vw;
  padding: 2px 1vw 2px 1vw;
  border-radius: 10%;
  background-image: linear-gradient(rgb(252, 149, 149), rgb(201, 106, 69));
  border: 0px solid black;
  box-shadow: 2px 2px 2px 2px black;
  float: right;
}

// CHECKOUT!

.checkout-container {
  background-image: linear-gradient(
    rgba(221, 195, 195, 0.76),
    rgba(214, 211, 163, 0.726)
  );
  height: 95%;
  position: fixed;
  top: 3.4vw;
  right: 0%;
  width: 18%;
  // bottom: 0%;
  overflow-y: scroll;
  min-height: 60%;
  max-height: 400vh;
  box-shadow: 0px 0px 5px 5px rgba(183, 206, 179, 0.651);
  transition: width 0.2s;
}

.each-checkout-element {
  display: flex;
  padding: 1vw 1vw 0 1vw;
}

.checkout-icon {
  width: 130px;
  height: 90px;
  background-size: 100% 100%;
}

.checkout-text-container{
    margin: 0 0 0 1vw;
    width: 50%;
    margin: auto 0 0 1vw;
}

.checkout-name-header {
    font-size: 1.2vw;
    font-weight: 800;
}

.checkout-price {
  font-size: 1.2vw;
  line-height: 2.1vw;
}

.checkout-quantity {
  font-size: 1.2vw;
  border: 1px solid rgb(114, 110, 110);
  display: flex;
  width: 80%;
}

.checkout-quantity-number {
  width: 34%;
  text-align: center;
  padding: 3px 0 0 0;
  margin: 0;
  background-color: rgba(235, 229, 229, 0.829)
}

.checkout-quantity button {
  display: block;
  margin: auto 0;
  height: 1.5vw;
  width: 33%;
  font-size: 1.3vw;
  background-color: gray;
  border: 0;
}

.checkout-plus-button:active {
  background-color: rgb(83, 83, 83);
  outline: 0;
}

.checkout-minus-button:active {
  background-color: rgb(83, 83, 83);
  outline: 0;
}

.clear-checkout-button{
  width: 27%;
  margin: 1vw 0 1vw 12vw;
  font-family: "Maitree", sans-serif;
  line-height: 1px;
  height: 1.7vw;
  font-size: 1.3vw;
  font-weight: bold;
  background-color: rgb(218, 150, 150);
  border: 2px solid rgb(202, 63, 63);
  border-radius: 5%;
}

.clear-checkout-button:active {
  background-color: rgb(207, 41, 41);
  border: 2px solid rgb(235, 160, 160);
  outline: 0;
}

.total-price-checkout {
  font-size: 1.6vw;
  padding-left: 0.9vw;
  line-height: 2.2vw;
  text-align: center;
}

.to-checkout-button {
  width: 90%;
  margin-left: 0.9vw;
  margin-bottom: 1vw;
  font-family: "Maitree", sans-serif;
  line-height: 0;
  height: 2.2vw;
  font-size: 1.7vw;
  font-weight: bold;
  background-color: rgb(216, 62, 62);
  border: 2px solid rgb(235, 160, 160);
  border-radius: 5%;
  color: white;
}

.to-checkout-button:active {
  background-color: rgb(207, 41, 41);
  border: 2px solid rgb(235, 160, 160);
  outline: 0;
}